<p-fieldset legend="Article Details">
  <div class="ui-g" *ngIf="selectedCustomer | async">
    <div class="ui-g-12">
      Name: <span class="highlighted-text">{{ (selectedCustomer | async)?.fName }} {{ (selectedCustomer | async)?.lName }} ({{ (selectedCustomer | async)?.nic }})</span>
    </div>
  </div>
  <div class="ui-g">
    <div class="ui-g-12">
      <p-dropdown placeholder="Select Article" [options]="(this.masterDataState$ | async).masterData?.articleMainTypes" optionLabel="description" (onChange)="onArticleChange($event)"></p-dropdown>
    </div>
  </div>
</p-fieldset>
