
<div class="ui-g">
		<div class="ui-g-12">
      <div class="ui-g-1">
        <p-button icon="pi pi-angle-double-left" styleClass="ui-button-info" [disabled]="activeIndex == 0" (click)="onPrevious($event)"></p-button>
      </div>
      <div class="ui-g-10"></div>
      <div class="ui-g-1">
        <p-button icon="pi pi-angle-double-right" styleClass="ui-button-info" [disabled]="activeIndex == 3" (click)="onNext($event)"></p-button>
      </div>
    </div>
</div>

<div class="steps-wrapper">
	<p-steps [model]="items" [(activeIndex)]="activeIndex" [readonly]="false"></p-steps>
</div>

<div [hidden]="activeIndex != 0">
	<app-customer></app-customer>
</div>

<div [hidden]="activeIndex != 1">
	<app-article></app-article>
</div>

<div [hidden]="activeIndex != 2">
	<!-- <app-terms></app-terms> -->
</div>

<div [hidden]="activeIndex != 3">
	<!-- <app-summary></app-summary> -->
</div>