<p-fieldset legend="Validate Customer">
  <div class="ui-g">
    <div class="ui-g-12">
      <span class="ui-float-label search-input">
        <input [(ngModel)]="selectedNic" id="float-input" type="text" size="30" pInputText />
        <label for="float-input">NIC</label>
      </span>
      <button icon="pi pi-search" (click)="onNicSearch()" pButton type="button" class="ui-button-raised search-btn"></button>
    </div>
  </div>
  <div class="ui-g">
    <div class="ui-g-12"></div>
  </div>
</p-fieldset>
