<p-fieldset legend="Validate Customer">
  <div class="ui-g">
    <div class="ui-g-12">
      <h4 style="margin:0 0 10px 0;">Search Type</h4>
      <div class="search-type-wrapper">
        <div class="radio" *ngFor="let searchType of (masterDataState$ | async).masterData.searchTypes">
          <p-radioButton name="search_type" [label]="searchType.label" (onClick)="onSearchTypeChange(searchType)"></p-radioButton>
        </div>
      </div>
    </div>
    <div class="ui-g-12" style="margin-top: 20px;">
      <span class="ui-float-label search-input">
        <input [(ngModel)]="selectedNic" id="float-input" type="text" size="30" pInputText />
        <label for="float-input">NIC</label>
      </span>
      <button icon="pi pi-search" (click)="onNicSearch()" pButton type="button"
        class="ui-button-raised search-btn"></button>
      <button (click)="onReset()" label="Reset" pButton type="button"
        class="ui-button-raised ui-button-secondary search-btn"></button>
    </div>
  </div>
  <div class="ui-g">
    <div class="ui-g-12">
      <table *ngIf="(customerState$ | async).selectedCustomer">
        <tr>
          <td>Name:</td>
          <td>
            <span class="highlighted-text">
              {{ (customerState$ | async)?.selectedCustomer?.firstName }}
              {{ (customerState$ | async)?.selectedCustomer?.lastName }}
            </span>
          </td>
        </tr>
        <tr>
          <td>NIC:</td>
          <td>
            <span class="highlighted-text">{{ (customerState$ | async)?.selectedCustomer?.nic }}</span>
          </td>
        </tr>
        <tr>
          <td>Address:</td>
          <td>
            <span class="highlighted-text">{{ (customerState$ | async)?.selectedCustomer?.address }}</span>
          </td>
        </tr>
      </table>
    </div>
  </div>
</p-fieldset>
