<p-fieldset legend="Summary">
  <div class="ui-g">
    <div class="ui-g-4">
      <h3>Customer Details</h3>
      <table>
        <tr>
          <td>Name:</td>
          <td>
            <span class="highlighted-text">{{ (selectedCustomer | async)?.fName }} {{ (selectedCustomer | async)?.lName }}</span>
          </td>
        </tr>
        <tr>
          <td>NIC:</td>
          <td>
            <span class="highlighted-text">{{ (selectedCustomer | async)?.nic }}</span>
          </td>
        </tr>
        <tr>
          <td>Age:</td>
          <td>
            <span class="highlighted-text">{{ (selectedCustomer | async)?.age }}</span>
          </td>
        </tr>
        <tr>
          <td>Address:</td>
          <td>
            <span class="highlighted-text">{{ (selectedCustomer | async)?.address }}</span>
          </td>
        </tr>
      </table>
    </div>
    <div class="ui-g-4">
      <h3>Article Details</h3>
      <table>
        <tr>
          <td>Code:</td>
          <td>
            <span class="highlighted-text">{{ (selectedArticle | async)?.code }}</span>
          </td>
        </tr>
        <tr>
          <td>Description:</td>
          <td>
            <span class="highlighted-text">{{ (selectedArticle | async)?.description }}</span>
          </td>
        </tr>
      </table>
    </div>
    <div class="ui-g-4">
      <h3>Product Details</h3>
      <table>
        <tr>
          <td>Code:</td>
          <td>
            <span class="highlighted-text">{{ (selectedProduct | async)?.code }}</span>
          </td>
        </tr>
        <tr>
          <td>Name:</td>
          <td>
            <span class="highlighted-text">{{ (selectedProduct | async)?.name }}</span>
          </td>
        </tr>
      </table>
    </div>
  </div>
</p-fieldset>
